@import url(https://db.onlinewebfonts.com/c/69c633b2a4e41e8101c6f4f149655d5e?family=ING+Me+Regular);

@font-face {
    font-family: "ING Me Regular";
    src: url("https://db.onlinewebfonts.com/t/69c633b2a4e41e8101c6f4f149655d5e.eot");
    src: url("https://db.onlinewebfonts.com/t/69c633b2a4e41e8101c6f4f149655d5e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/69c633b2a4e41e8101c6f4f149655d5e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/69c633b2a4e41e8101c6f4f149655d5e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/69c633b2a4e41e8101c6f4f149655d5e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/69c633b2a4e41e8101c6f4f149655d5e.svg#ING Me Regular")format("svg");
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'ING Me Regular';
}
#root {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 200vh;
}
a {
    color: #AB0066;
}
.button {
    padding: 12px 16px;
    font-size: 19px;
    color: #fff;
    background-color: #FF6200;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px;
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1) 0s;
    cursor: pointer;
    text-decoration: none;
}
/*--------------LOGO__SECTION--------------*/
.logo {
    width: 100%;
    padding: 0 12px;
}
.logo__container {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    text-align: left;
}
.logo__container img {
    width: 130px;
    height: 59px;
    margin: 25px 0;
}
/*--------------HOME__SECTION--------------*/
.home {
    width: 100%;
    padding: 0 12px;
}
.home__container {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 50px 0 100px;
    background-image: url(./assets/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0 0 15px 15px;
    position: relative;
}
.home__text-orange:nth-child(1) {
    margin-left: 50px;
}
.home__text-orange:nth-child(2) { 
    margin-top: 10px;
    margin-left: 150px;
}
.home__text-orange:nth-child(3) {
    margin-top: 10px;
    margin-left: 90px;
}
.home__text-orange {
    display: table;
    color: #fff;
    background-color: #FF6200;
    padding: 4px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.25;
}
.home__text-purple {
    display: table;
    color: #fff;
    background-color: #AB0066;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
    margin-top: 25px;
    margin-left: 75px;
    line-height: 1.25;
    text-decoration: none;
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.home__text-purple:hover {
    box-shadow: 0 1px 15px 0 rgba(0,0,0,0.28);
}
@media (max-width: 960px) {
    .home__text-orange {
        padding: 2px 12px;
        font-size: 26px;
    }
    .home__text-orange:nth-child(1) {
        margin-left: 25px;
    }
    .home__text-orange:nth-child(2) { 
        margin-top: 5px;
        margin-left: 75px;
    }
    .home__text-orange:nth-child(3) {
        margin-top: 5px;
        margin-left: 45px;
    }
    .home__text-purple {
        padding: 8px 12px;
        font-size: 19px;
        margin-top: 55px;
        margin-left: 35px;
    }
    .home__container {
        max-width: 1232px;
        padding: 50px 0 50px;
    }
}
@media (max-width: 600px) {
    .home__text-orange {
        padding: 4px 16px;
        font-size: 28px;
        line-height: 1.25;
    }
    .home__text-orange:nth-child(1) {
        position: absolute;
        top: 200px;
        left: -10px;
    }
    .home__text-orange:nth-child(2) {
        position: absolute; 
        top: 243px;
        left: -60px;
    }
    .home__text-orange:nth-child(3) {
        position: absolute;
        top: 291px;
        left: -30px;
    }
    .home__text-purple {
        position: absolute;
        top: 320px;
        left: -20px;
        padding: 8px 12px;
        font-size: 19px;
    }
    .home__container {
        height: 225px;
        margin-bottom: 230px;
    }
}
@media (max-width: 400px) {
    .home__text-orange {
        font-size: 24px;
    }
    .home__text-orange:nth-child(1) {
        top: 200px;
    }
    .home__text-orange:nth-child(2) {
        top: 235px;
    }
    .home__text-orange:nth-child(3) {
        top: 275px;
    }
    .home__text-purple {
        font-size: 19px;
        top: 310px;
    }
}
/*--------------NEWSLETTER__SECTION--------------*/
.newsletter {
    width: 100%;
    padding: 0 12px;
    margin-top: 15px;
}
.newsletter__container {
    width: 100%;
    max-width: 791px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.28);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1) 0s;
    cursor: pointer;
}
.newsletter__container:hover {
    box-shadow: 0 1px 15px 0 rgba(0,0,0,0.28);
}
.newsletter-img {
    width: 200px;
}
.newsletter-img img {
    width: 200px;
}
.newsletter-text {
    padding-left: 15px;
    color: #333;
}
.newsletter-text h1 {
    padding-bottom: 10px;
    line-height: 1.5;
}
.newsletter-text p {
    padding-bottom: 10px;
    line-height: 1.5;
}
.newsletter-text a {
    color: #333;
    padding-bottom: 10px;
    line-height: 1.5;
}

.newsletter-message {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #3333337e;
    top: 0;
    left: 0;
}
.newsletter-message__container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    height: 75vh;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 100px;
}
.newsletter-message__close {
    width: 100%;
    text-align: right;
}
.newsletter-message__close i {
    font-size: 30px;
    cursor: pointer;
    color: #FF6200;
    margin: -10px -10px 0 0;
    font-weight: bold;
}
.newsletter-message__container h1 {
    margin-top: 36px;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: normal;
}
.newsletter-message__container p {
    font-weight: bold;
    margin-bottom: 16px;
}
.newsletter-message__container ul li {
    margin-bottom: 12px;
    margin-left: 16px;
    list-style: none;
    position: relative;
    color: #333333ed;
}
.newsletter-message__container ul li::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #FF6200;
    z-index: 101;
    top: 7px;
    left: -16px;
}
.newsletter-message__container span {
    line-height: 1.5;
    color: #333333ed;
    margin-bottom: 16px;
    display: inline-block;
}
.active__newsletter-message  {
    display: block;
}
@media (max-width: 600px) {
    .newsletter__container {
        max-width: 791px;
        flex-direction: column;
    }
    .newsletter-text {
        padding-left: 0px;
        text-align: center;
    }
}
/*--------------KONTO__SECTION--------------*/
.konto {
    width: 100%;
    padding: 0 12px;
    margin-top: 15px;
}
.konto__container {
    width: 100%;
    max-width: 791px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
}
.konto__container a:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.467);
}
/*--------------CO__ZNACZY__PROSTO--------------*/
.prosto {
    width: 100%;
    max-width: 791px;
    margin: 0 auto;
}
.prosto h1 {
    text-align: center; 
    padding: 20px 0; 
    font-size: 32px;
}
.prosto__column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 194px;
    padding: 32px 0 0;
}
.prosto__column-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prosto__column-text p {
    line-height: 24px;
}

@media (max-width: 600px) {
    .prosto__column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 24px 16px;
    }
}
/*--------------APLIKACJE--------------*/
.app {
    width: 100%;
    padding: 48px 16px;
    text-align: center;
}
.app-imgs {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 16px;
}
@media (max-width: 360px) {
    .app-imgs {
        display: inline-block;
        padding-bottom: 16px;
    }
}
/*--------------SLIDER--------------*/
.slider {
    width: 100%;
    text-align: center;
}
.slider p {
    font-size: 24px;
    color: #333;
    padding: 0 16px 16px;
}
.wrapper {
    padding: 16px 0 32px;
    width: 100%;
    max-width: 1503px;
    margin: 0 auto;
    position: relative;
}
.wrapper .carousel {
    display: flex;
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
}

.carousel .card {
    border-right: 1px solid #d9d9d9; 
    text-align: center; 
    background-color: #fff;
}
.carousel .card h1 {
    color: #000;
    font-size: 20px;
    margin: 10px 0;
}
.carousel .card img {
    width: 500px;
    height: 120px;
    object-fit: contain;
    margin: 0 0 13px;
}
.carousel .card p {
    font-size: 16px;
    color: #333;
    padding: 0;
    line-height: 24px;
}
.carousel .card a {
    font-size: 16px;
    padding: 0 0 16px;
    display: inline-block;
    line-height: 24px;
}

.wrapper i {
    font-size: 50px;
    color: #FF6200;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.wrapper i:first-child{left: -35px; color: #d9d9d9;}
.wrapper i:last-child{right: -35px;}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

@media (max-width: 1600px) {
    .wrapper {
        max-width: 1002px;
        position: relative;
    }
}
@media (max-width: 1100px) {
    .wrapper {
        max-width: 501px;
        position: relative;
    }
}
@media (max-width: 600px) {
    .wrapper {
        max-width: 301px;
        position: relative;
    }
    .carousel .card img {
        width: 300px;
    }
}
@media (max-width: 400px) {
    .wrapper {
        max-width: 201px;
        position: relative;
    }
    .carousel .card img {
        width: 200px;
    }
}